<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/cert/bundle" method="POST">
			<table>
				<thead>
					<tr>
						<td>
							Bundle Path
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<textarea type="textarea" name="bundlePath" ></textarea>

						</td>
					</tr>
					<tr rowspan=2>
						<td>
							<input type="submit" value="Submit" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>