<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/cert/genCA" method="POST">
			<table>
				<thead>
					<tr>
						<td>
							Subject
						</td>
						<td>
							Days Valid For
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<textarea type="textarea" name="subject" ></textarea>

						</td>
						<td>
							<textarea type="textarea" name="daysValidFor" ></textarea>
						</td>
					</tr>
					<tr rowspan=2>
						<td>
							<input type="submit" value="Upload file" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>