<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<table border="1">
		<thead>
			<tr><td>Name</td><td>Size</td></tr>
		</thead>
		<tbody>
		{{#certs}}
			<tr><td>{{name}}</td><td>{{size}}</td></tr>
		{{/certs}}
		</tbody>
		</table>
	</body>
</html>